@page "/collection"
@inject MTGData CardsService


<h1>Collection</h1>


@if (cards == null)
{
    <span>Loading...</span>
}
else
{
    <div class="cards--grid">
        @foreach (var card in cards)
        {
            <div class="card">
                <img src="@card.OriginalImageUrl" alt="oui" />
                <p>@card.Id</p>
                <p class="card--description">@card.Text</p>
            </div>
        }
    </div>
}


@code {
    List<Card>? cards;
    protected override async Task OnInitializedAsync()
    {
        cards = await CardsService.GetLikedCard();
    }
}